@import '../../styles/media';
@import '../../styles/colors';

.MuiDrawer-paper {
  width: 300px;
}
.movieseries--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .movieseries--card {
    margin:0.5rem;
    .movieseries--info {
      width: 185px;
      height: 40px;
      background-color:$philips-blue;
      color:$philips-opaque;
      padding: 0 14px;
      box-sizing: border-box;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .movieseries-average {
        display: flex;
        align-items: center;
      }
      .movieseries-rating {
        margin: 0 0.5rem;
      }
    }
  }

}

@include tablet {
  .MuiDrawer-paper {
    width: 500px;
  }
  .movieseries--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .movies-and-series {
    margin:0 4rem;
  }
}

@include desktop {
  .movies-and-series {
    margin:0 8rem;
  }
}