@import '../../styles/media';
@import '../../styles/colors';

.movie--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .movie--card {
    margin:0.5rem;
    .movie--info {
      width: 185px;
      height: 40px;
      background-color:$philips-blue;
      color:$philips-opaque;
      padding: 0 14px;
      box-sizing: border-box;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .movie-average {
        display: flex;
        align-items: center;
      }
      .movie-rating {
        margin: 0 0.5rem;
      }
    }
  }

}

@include tablet {
  .movie--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}