@import './media';
@import './colors';

.about {
  margin-top: 1rem;
  width: 100%;
  &--quotation{
    margin: 0 auto;
    max-width: 30rem;

    .quotation{
      font-size: 20px;
      //margin: 0 auto;
      quotes: "\201C""\201D""\2018""\2019";
      padding: 10px 20px;
      line-height: 1.4;
    }

    .quotation:before {
      content: open-quote;
      display: inline;
      height: 0;
      line-height: 0;
      left: -10px;
      position: relative;
      top: 30px;
      color: #ccc;
      font-size: 3em;
    }
    .quotation::after {
      content: close-quote;
      display: inline;
      line-height: 0;
      left: 10px;
      position: relative;
      top: 35px;
      color: #ccc;
      font-size: 3em;
    }
    footer{
      margin:0;
      text-align: right;
      font-size: 1.5em;
      font-style: italic;
    }
  }
  p {
    line-height: 1.5rem;
    margin: 0 0 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  &--title{
    margin-top: 2rem;
  }
}

@include tablet {
  .about {
    max-width: 38rem;
  }
}