@import './media';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import './Header.scss';
@import './Main.scss';
@import './Home.scss';
@import './Footer.scss';

.App {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.App-content {
  margin: 0.5rem 2rem;
  height: 100vh;
  display: flex;
    justify-content: center;
}
.App-link {
  color: #61dafb;
}

.Title-1 {
  font-size: 1.75rem;
}

@include tablet {
  .Title-1 {
    font-size: 2rem;
  }
}