@import './media';
@import './colors';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import './Header.scss';
@import './Main.scss';
@import './Home.scss';
@import './About.scss';
@import './Footer.scss';
@import '../../node_modules/react-tabs/style/react-tabs.scss';

.App {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.App-content {
  margin: 0.5rem 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.App-link {
  color: $ybmsapp-blue-light;
}

.Title-1 {
  font-size: 1.75rem;
  font-weight: bold;
}
.Title-2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.Body-primary {
  color: $ybmsapp-blue;
}


@include tablet {
  .Title-1 {
    font-size: 2rem;
  }
  .Title-2 {
    font-size: 1.5rem;
  }
  .App-content {
    margin: 3rem 2rem 0 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}