@import './media';

.home {
  &-banner--container {
    margin-bottom: 1rem;
  }
  &-banner--title {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }

}

@include tablet {
  .home {
    &-banner--container {
      margin-bottom: 1.5rem;
    }
    &-banner--title {
    }
  }
}
