@import './media';

.home {
  margin-bottom: 2rem;
  &-banner--container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-banner--title {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
  }

}

@include tablet {
  .home {
    &-banner--container {
      flex-direction: row;
      margin-bottom: 1.5rem;
    }
    &-banner--wrapper {
margin: 0 2rem;
    }
  }
}
