@import './media';

.home {
  &-banner--container {
    margin-bottom: 1rem;
  }
  &-banner--title {
    display:flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
  }

}

@include tablet {
.home {


}

}
