.card-header{
  height:100px;
}
#main{
  width:100%;
  height:100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image name";
  align-items: center;
  align-content: start;
  justify-content: start;
}
#d1{
  display: inline-block;
  grid-area: image;
}

#d2{
  padding-left: 20px;
  font-size: 1.5em;
  grid-area: name;
  align-self: center;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "." ".";
}

#song-info{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.25fr;
  grid-template-areas: "song duration";
}

#song-name{
  grid-area: song;
}
#song-duration{
  justify-self: end;
  grid-area: duration;
}

#album-container{
padding-bottom: 20px;
}

#artist-name{
font-size: 0.8em;
@media screen and (max-width: $break-small) {
  font-size: 0.6em;
}
}
#album-name{
font-size: 0.8em;
@media screen and (max-width: $break-small) {
  font-size: 0.9em;
}
}

#album-card{
width: 40%;
@media screen and (max-width: $break-small) {
  width: 95%;
}
}