@import '../../styles/media';

.banner {
    box-shadow: 0.15rem 0.15rem 0.25rem 0.25rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--img {
    }
    &--title {
      margin: 1rem 0;
      font-size: 2.5rem;
    }
}

@include tablet {
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &--title {
        font-size: 3rem;
        margin: 2rem;
    }
  }
}