@import '../../styles/media';
@import '../../styles/colors';

.banner {
  max-width: 15.60rem;
    cursor: pointer;
    box-shadow: 0.15rem 0.15rem 0.25rem 0.25rem rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: all 0.2s ease;
      box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem $philips-blue;
      top: -1px;
    }
    &--title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0.5rem 0;
      flex-wrap: wrap;
      font-size: 1rem;
      font-weight: bold;
    }
}

@include tablet {

}